:root {
  --dark-blue: #255d8c;
  --light-blue: #3a80ba;
  --primary-text-dark: #1a1a1a;
  --primary-text-light: #fff;
  --secondary-text-color: #7e7e7e;
  --footer-color: #1c3b55;
  --charts-text-color: #cccccc;
  --charts-lines-color: #f1f1f1;
}
